[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AntonySilvester
[access "refs/for/refs/*"]
	read = group user/AntonySilvester
	push = group user/AntonySilvester
	label-Code-Review = -2..+2 group user/AntonySilvester
	label-Verified = -1..+1 group user/AntonySilvester
	rebase = group user/AntonySilvester
	removeReviewer = group user/AntonySilvester
	submit = group user/AntonySilvester
[access "refs/heads/*"]
	read = group user/AntonySilvester
	create = group user/AntonySilvester
	push = +force group user/AntonySilvester
	pushMerge = group user/AntonySilvester
[access "refs/tags/*"]
	push = +force group user/AntonySilvester
	pushTag = group user/AntonySilvester
	pushSignedTag = group user/AntonySilvester
